/* Styling Fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}

/* Styling Navigation */
nav > ul{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    
}
nav ul li{
    list-style: none;
}
nav > ul a{
    text-decoration: none;
    
}
.Awlad{
    color: #0D1321;
    font-weight: 600;
    font-size: 28px;
}
.Download{
    background-color: white;
    border-color: #0D1321;
    border-radius: 8px;
    padding: 17px 24px;
}

/* Banner Design */
.banner{
    background-image: url(../assets/Hero-bg.png);
    
}
.banner-picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 26px;
  
}
.banner-header{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner-para{
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

.contact{
    background-color: #0D1321;
    color: white;
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    margin-bottom: 45px;
}

/* Why Web Development??  */
.why-bg-color{
    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px 150px;
    border-radius: 16px;
    padding: 80px 97px;
}  /* Section color */

.why-head{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.why-para{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* Do Coding Div DEsign */
.do-coding{
    background-color: white;
    border-radius: 16px;
    padding: 58px 48px;
    justify-content: space-between;
    gap: 100px;
    display: flex;
}

.do-coding-head{
    color:rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.do-coding-paragraph{
    color : #0D1321;
    font-size: 16px;
    font-weight: 400;
    text-align: left; 
    opacity: 0.7;
}

.do-coding-button{
    border: 1px solid rgba(13, 19, 33, 0.7);
    background-color: white;
    padding: 12px 20px;
}

.space{
    gap: 32px;
}

/* My Inspiration Design */
.inspo-head{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    
}
.inspo-para{
    color : #0D1321;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    padding-left: 292px;
    padding-right: 296px;
    margin-bottom: 48px;
}

.yt-border{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    align-items: center; 
    margin-left: 148px;
    margin-right: 150px;
    margin-bottom: 140px;
}

/* My Current Target Section */
.target{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.target-dis{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-left: 294px;
    margin-right: 294px;
    opacity: 0.7;
    margin-bottom: 48px;
}

/* Target Language Design */
.hyper-text{
    background-color: rgb(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
}
.language-name{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}
.language-para{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    
}
.color-learn{
    color: #0D1321;
    font-size: 16px;
    font-weight: bold;
}

.css-lan{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 40px;
    
}

.java-s{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
}

.language{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 48px;
}

/* Designing Support Section */

.support-bg{
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 313px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
}
.support-content{
    padding: 64px 48px;
}
.support-head{
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.support-para{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-bottom: 24px;
}
.feedback{
  width: 100%;
  padding: 19px 215px 19px 20px;
  display: inline-block;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
  
}
.submit{
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 17px 20px;
    display: inline-block;
    box-sizing: border-box;
}
.form{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 180px;
    padding-right: 180px;
}

/* Designing Footer */
.footer-head{
    font-size: 20px;
    font-weight: 600 ;
}
.social-link{
    display: flex;
    gap: 24px;
}
.footer{
    margin-top: 80px;
    display: flex;
    padding: 32px 150px;
    gap: 528px;
    background:rgba(13, 19, 33, 0.03);
}